body{
    background-color: #f4f4f4;
}
.header{
    background-color: #ffffff;
    height: 55px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #c3c3c3;
    box-shadow: 0 3px 6px rgb(0, 0,0,.1);
    z-index: 10;
}
.logo{
margin-left:181px;
}
.search input{
   width: 260px;
   height: 28px;
   border-radius: 15px;
   padding-left: 17px;
   font-size: 14px;
   color: #a0a0a0;
}
.search{
    border: 1px solid  #979797;
    border-radius: 15px;
    width: 262px;
    margin-right: 120px;
    position: relative;
}
.search-icon {
display: block;
width: 17px;
background: no-repeat;
line-height: 25px;
position: absolute;
top: 0;
right: 15px;
}
.search-icon img {
    width: 100%;
}
.carousel{
    padding-top: 55px;
    width: 1518px;
    height: 285px;
    position: relative;
    overflow: hidden;
    min-width: 1000px;
}
 .carousel li{
    float: left;
} 
.carousel ul{
    width: 400%;
    position: absolute;
    left: 0;
}
.carousel img{
    width: 1518px;  
}

.prev,
.next{
    position: absolute;
    top: 50%;
    width: 35px;
    height: 40px;
    background: rgba(0,0,0,.3);
    text-align: center;
    line-height: 40px;
    color: white;
    display: none;
    z-index: 2;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}
.point {
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    width: 145px;
    height: 35px; 
}
ol li{
    height: 15px;
    width: 15px;
    float: left;
    background-color: #4d4947;
    border-radius: 50%;
    margin-top: 15px;
    cursor: pointer;
}
.point li:nth-child(-n+2){
    margin-right: 50px;
}
ol .current{
    background-color: #d9d2cf;
}
